name: Pipeline github
run-name: ${{ github.actor }} is executing the pipeline...

on:
  schedule:
    - cron: '0 0,1,2 * * TUE,THU,SAT'

jobs:
  install-dependencies:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - uses: actions/setup-node@v3
        with:
          node-version: '18'
      - name: Install dependencies
        run: npm install
      - name: Verify eslint
        run: npm run eslint
      - name: Create env file
        run: echo "${{ secrets.ENV_FILE }}" > .env 
      - name: Run script
        run: npm run data  
