name: Pipeline github
run-name: ${{ github.actor }} is executing the pipeline...

on:
  push:
    branches:
      - main

jobs:
  install-dependencies:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - uses: actions/setup-node@v3
        with:
          node-version: '18'
      - name: Install dependencies
        run: npm install
      - name: Verify eslint
        run: npm run eslint
      - name: Create env file
        run: |
          touch .env
          echo URL=${{ vars.URL }} >> .env  
          echo DB_URI=${{ vars.DB_URI }} >> .env  
          echo DB_NAME=${{ vars.DB_NAME }} >> .env  
          echo COLLECTION=${{ vars.COLLECTION }} >> .env  
          echo ALL_DATA=${{ vars.ALL_DATA }} >> .env  
          echo SAVE_DATA=${{ vars.SAVE_DATA }} >> .env  
      - name: Run script
        run: npm run data  
