name: Pipeline github
run-name: ${{ github.actor }} is executing the pipeline...

on:
  schedule:
    - cron: '0 1 * * *'
  workflow_dispatch:  

jobs:
  install-dependencies:
    runs-on: ubuntu-latest
    env:
      ALL_DATA: ${{ vars.ALL_DATA }}
      COLLECTION: ${{ vars.COLLECTION }}
      DB_NAME: ${{ vars.DB_NAME }}
      SAVE_DATA: ${{ vars.SAVE_DATA }}
      URL: ${{ vars.URL }}
    steps:
      - uses: oNaiPs/secrets-to-env-action@v1
        with:
          secrets: ${{ toJSON(secrets) }}
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - uses: actions/setup-node@v3
        with:
          node-version: '18'
      - name: Install dependencies
        run: npm i
      - name: Verify eslint
        run: npm run eslint
      - name: Run script
        run: npm run data
      - name: Sending the lucky numbers!
        run: npm run lucky
